@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
/* @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
} */

.stock-ticker {
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  overflow: hidden;
  display: flex;
  gap: 2rem;
  user-select: none;
  --gap: 20px;
  gap: var(--gap);
  background-color: #171717;
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

  
  @keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-left {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}

.animate-slide-left {
  animation: slide-left 0.4s ease-out forwards;
}

  
